<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="../vue.js"></script>
  <style media="screen">

    .stagged-transition{
      transition:all .5s ease;
      overflow:hidden;
      margin:0;
      height:20px;
      line-height: 20px;
      color:red;
    }
    .stagged-enter,.stagged-leave{
      opacity:0;
      height:0;
    }
  </style>
</head>
<body>
<div class="zone">
  <input type="text" v-model="query">
  <ul>
    <li v-for="x in todo|filterBy query" transition="stagged">{{x.text}}</li>
  </ul>
</div>
</body>
<script type="text/javascript">
  var vm=new Vue({
    el:".zone",
    data:{
      query:"",
      todo:[
        {text:"zone"},
        {text:"acorn"},
        {text:"zzzz"},
        {text:"memeda"},
        {text:"hahaha"},
        {text:"madandasd"}
      ]
    }
  })
</script>
</html>
