/**去除默认样式**/
html,body,ul,li,p,h4,h5{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
}
a{
    text-decoration: none;
    color:black;
}
html,body{
    width:100%;
    height:100%;
    max-width:640px;
    margin:0 auto;
    font-family:'Helvetica', 'Microsoft YaHei', 'Helvetica Neue', sans-serif;
    background:#eee;
}

li{
    list-style:none;
}

/*去除点击高亮效果*/
a,button,input,select,img,label{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:medium none;}
input::-moz-focus-inner{border:none;padding:0;}
select, input{vertical-align:middle;}

/*去除输入框默认样式*/
button, input[type="input"] {

    -webkit-appearance: none;

}
/*通用样式*/


/*头部样式开始*/
.header{
    border-bottom:1px solid #ebebeb;
    text-align:center;
    font-size:15px;
    padding:25px 18px 15px 18px;
    background:white;
}
.header .header-title{
    line-height: 20px;
}
.header .header-prev{
    display: block;
    float:left;
    width:20px;
    height:20px;
    background:url(../image/result.png) no-repeat;
    background-position:-23px 1px;
    background-size:75px 29px;
}
/*头部样式结束*/

/*主体页面开始*/

.content{
    padding:10px 18px 0 18px;
}

.content-privilege{
    background:white;
}
.content-privilege:after{
    display:block;
    content:"";
    clear:both;
}
/*最新优惠开始*/
.privilege{
    padding-bottom:17px;
}
.privilege-head{
    padding-bottom:9px;
    border-bottom:1px dashed #e2e2e2;
    color:#666;
}
.content-privilege{
    padding-top:16px;
}
.privilege-head-left{
    font-size:14px;
    float:left;
}
.privilege-head-right{
    font-size:12px;
    float:right;
}
.privilege-head-right a{
    color:#8a8a8a;
}

.privilege-main{
    display: block;
    position: relative;
    padding-left:20px;
}
.privilege-main:after{
    content:"";
    display:block;
    clear:both;
}
.privilege-main-picture{
    display: block;
    width:55px;
    height:55px;
    float:left;
    margin-right:18px;
}
.privilege-main-picture img{
    max-width:100%;
}
.privilege-main-text{
    display: block;
    flaot:left;
}
.privilege-text-bottom{
    display: block;
    float:left;
    font-size:9px;
    position: absolute;
    bottom:0;
    left:92px;
}
.privilege-main-text-top{
    display: block;
    margin-bottom:12px;
    font-size:14px;
    float:left;
}
.content-privilege{
    position: relative;
}
.privilege-text-top{
    font-size:13px;
}
/*最新优惠结束*/
.content-footer{
    display: block;
    background:#f66;
    height:3px;
    margin-top:16px;
    width:100%;
    margin-bottom:13px;
}


