/*----清除默认设置----*/
body,html,ul,li,h3,h5{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background:#fff;
}
li{
    list-style:none;
}

a{
    text-decoration: none;
    color:black;
}

/*---公用样式---*/
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}

/*主体开始*/
.wrap{
    width:8.9rem;
    margin:0 auto;
}

/*--------------页面开始------------*/

/*---页眉搜索栏开始---*/
header{
   padding:1rem 0 .5rem 0;
}
.header_input_search{
    width:7.8rem;
    height:0.71rem;
    font-size:0.3rem;
    padding-left:0.35rem;
    border:1px solid #e9e9e9;
    background:#f7f7f7;
    float:left;
}

input::-webkit-search-cancel-button {
    display: none;
}
.header_search .header_search_icon{
    width:0.71rem;
    height:0.71rem;
    background:url("../image/result.png") no-repeat;
    background-position: 0px 0px;
    float:left;
    margin-left:0.35rem;
    cursor: pointer;
    background-size:cover;
    border:none;
}
/*---页眉搜索栏结束---*/

/*---内容页面开始---*/
/*---公司展示页面---*/
.company_list li{
    margin-top:.32rem;
}
.company_list_header{
    margin-top:0.56rem;
    margin-bottom:1.05rem;
}
.company_list_left{
    width:.05rem;
    height:1.24rem;
    background:black;
    float:left;
}
.company_list_right{
    height:1.24rem;
    float:left;
    padding-left:.387rem;
}
.company_list_right h3{
    font-size:.516rem;
    margin-bottom:.2rem;
}
.company_list_right h5{
    font-size:.371rem;
    font-weight: normal;
}

.compan_list_agree{
    margin-bottom:.927rem;
}
.compan_list_agree,.compan_list_oppose{
    font-size:0.242rem;
}
.compan_list_agree .compan_list_content{
    width:1.806rem;
    height:.290rem;
    background:#09f;
    margin-top:.129rem;
    position: relative;
    -webkit-border-radius:0.15rem;
    -moz-border-radius:0.15rem;
    border-radius:0.15rem;
}
.company_list li:nth-of-type(2) .compan_list_agree .compan_list_content{
    width:6.742rem;
}
.company_list li:nth-of-type(2) .compan_list_oppose .compan_list_content{
    width:1.806rem;
}
.compan_list_agree .compan_list_content span{
    position: absolute;
    width:0.73rem;
    right:-1.048rem;
    top:0;
    color:#09f;
}
.compan_list_oppose .compan_list_content span{
    position: absolute;
    width:0.73rem;
    right:-1.048rem;
    top:0;
    color:red;
}
.compan_list_oppose .compan_list_content{
    width:6.742rem;
    height:.290rem;
    background:red;
    margin-top:.129rem;
    position: relative;
    -webkit-border-radius:0.15rem;
    -moz-border-radius:0.15rem;
    border-radius:0.15rem;
}
.compan_list_footer{
    text-align:right;
    font-size:.258rem;
    display: block;
    margin-top:.403rem;
}
.compan_list_footer span{
    display: block;
    float:right;
    line-height:0.61rem;
    height:0.61rem;
}
.compan_list_footer .compan_list_icon{
    display: block;
    width:0.75rem;
    height:0.63rem;
    background:url("../image/result.png") no-repeat;
    background-position: 0px -71px;
    float:right;
    margin-right:0.21rem;
}
/*公司展示页面结束*/
/*主体结束*/
