/*----清除默认设置----*/
body,html,ul,li,h3,p,button,input{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background:#fff;
    font-family:'Helvetica', 'Microsoft YaHei', 'Helvetica Neue', 'sans-serif';
}
li{
    list-style:none;
}

a{
    text-decoration: none;
    color:black;
}
button, input[type="search"] {

    -webkit-appearance: none;

}


/*去除点击高亮效果*/
a,button,input,select,img,label{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:medium none;}
input::-moz-focus-inner{border:none;padding:0;}
select, input{vertical-align:middle;}

/*---公用样式---*/
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}

/*主体开始*/
.wrap{
    width:8.9rem;
    margin:0 auto;
}

/*--------------页面开始------------*/

/*---页眉搜索栏开始---*/
header{
    padding:1rem 0 .5rem 0;
}
.header_input_search{
    width:7.8rem;
    height:0.71rem;
    font-size:0.3rem;
    padding-left:0.35rem;
    border:1px solid #e9e9e9;
    background:#f7f7f7;
    float:left;
    -webkit-appearance:none;
}

input::-webkit-search-cancel-button {
    display: none;
}
.header_search .header_search_icon{
    width:.494rem;
    height:.71rem;
    background-image:url("../image/result.png");
    background-size:2.492rem .71rem ;
    background-position:0rem 0rem;
    float:left;
    margin-left:0.35rem;
    cursor: pointer;
    border:none;
}

/*---页眉搜索栏结束---*/

/*---内容页面开始---*/

/*---公司展示页面---*/
.company_list .interval{
    height:.322rem;
    background:#ebebeb;
    width:auto;
}
.company_list_header{
    margin-top:0.565rem;
    margin-bottom:1.048rem;
    height:1.242rem;
}
.company_list_left{
    height:1.242rem;
    width:.05rem;
    background:black;
    float:left;
}
.company_list_right{
    height:1.242rem;
    float:left;
    padding-left:.387rem;
}
.company_list_right h3{
    font-size:.5rem;
    margin-top:-.1rem;
    margin-bottom:.1rem;

}
.company_list_right p{
    font-size:.371rem;
    font-weight: normal;
}
/*公司列表中间部分*/
.compan_list_main .compan_list_agree{
    margin-bottom:.927rem;
}
.compan_list_main {
    font-size:0.242rem;
}
.compan_list_main .classify_more{
    width:6.2rem;
}
.compan_list_main .classify_few{
    width:1.815rem;
}
.conpan_list_number{
    padding-right:.226rem;
    text-align: right;
}
.compan_list_agree .compan_list_content{
    background:#0099ff;
}
.compan_list_oppose .compan_list_content{
    background:#ff0000;
}
.compan_list_content{
    position: relative;
    height:.290rem;
    margin-top:.129rem;
    position: relative;
    -webkit-border-radius:0.15rem;
    -moz-border-radius:0.15rem;
    border-radius:0.15rem;
}
.compan_list_content span{
    display: block;
    position: absolute;
    right:-1.048rem;
    height:.290rem;
    line-height:.290rem;
    top:0;
    font-weight: 600;
}
.compan_list_agree .compan_list_content{
    color:#0099ff;
}
.compan_list_oppose .compan_list_content{
    color:#ff0000;
}

/*公司列表底部*/
.compan_list_footer{
    margin-top:.419rem;
    display: block;
}
.compan_list_footer .compan_list_icon{
    display: block;
    width:0.548rem;
    height:0.484rem;
    background-image:url("../image/result.png");
    background-size:2.492rem .71rem ;
    background-position:-.581rem 0rem;
    cursor: pointer;
    float:right;
    margin-right:0.21rem;
    margin-top:0.1rem;
}
.compan_list_footer span{
    display: block;
    float:right;
    line-height:0.63rem;
    height:0.63rem;
    font-size:.258rem
}
/*公司展示页面结束*/
/*主体结束*/
